

.github-fork-ribbon:before, .github-fork-ribbon:after {
  height: 2.54em
}

.github-fork-ribbon:before {
  padding: 1.38em 0;
}

.exchange_rate_image {
  background-image: url('../img/sentiment_exchange_correlation.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
}

.image-graph {
  width: 80rem;
  display: block;
  margin: auto;
  padding: 15px;
}

.senti-score {
  width: 35em;
  display: block;
  padding: 15px;
}

.exchange_rate {
  width: 50rem;
}

.container .view-button {
  display: block;
  margin: auto;
  width: 15em;
}

.dropdown-toggle {
  margin-left: 10px;
}

.references {
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 2em
}

.page-body-text {
  font-size: 1.2em;
  /*line-height: 2em*/
}

.method-subheading {
  font-size: 1.5em;
}

.method-subsubheading {
  font-size: 1.2em;
  font-style: italic;
}

.method-heading {
  font-size: 1.8em;
  font-weight: bolder;
}
.bottom-one {
  margin-bottom: 1cm;
}

.btn-primary {
  margin-top: 0.6em;
}
.navbar-custom .nav li .dropdown-menu .dropdown-option {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  padding: 5px;
  letter-spacing: 1px;
  display: block;
  clear: both;
  color: grey;
}

@media (min-width:768px) {
  /*header .intro-text .intro-heading {
    font-size: 4em
  }*/
  .navbar-right {
    float: right !important;
    margin-right:50px
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}
