

.github-fork-ribbon:before, .github-fork-ribbon:after {
  height: 2.54em
}

.github-fork-ribbon:before {
  padding: 1.38em 0;
}

.exchange_rate_image {
  background-image: url('../img/sentiment_exchange_correlation.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
}

.image_graph {
  width: 50rem;
}

.navbar-custom .nav li a, .navbar-custom .navbar-toggle .dropdown-option {
  /*color: red;*/
}

.btn-primary {
  margin-top: 0.6em;
}
